.btn {
  max-width: 200px;
  width: 100%;
  min-height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
  margin: 0;
  box-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  border: 1px solid #82e86d;
  background-color: #82e86d;
  font-size: 14px;
  border-radius: 20px;
  opacity: 1;
}

.btn:hover {
  background-color: #46d629;
}
.btn:focus {
  border-color: #000000;
}
